@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

main {
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 10px;
    width: 333px; 
    padding: 10px;
    margin: auto;
    
    
}

h1 {
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgb(177, 159, 137);
    width: 600px;
    padding: 1px;
    margin: 37px;
}

