@charset "UTF-8";

body{
    background-color: blanchedalmond;
}

header{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(122, 113, 98);
    width: 500px;
    padding: 2px;
    margin: auto;
}

h1#principal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    background-color: rgb(255, 255, 237);
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    text-align: justify;
    text-align: center;
}